<% var i, j, task, actions, action, user, percent; 
  var expires = 24 * 60 * 60 * 1000;
%>


<div class="page-1 row-fluid">
<%     
  for (i = 0; i < tasks.length; i++) {
    var task = tasks[i];
    var actions = task.actions;
%>
    <div class="select-task span4">
      <h2><%= task.type %></h2>
      <%  
        for (j = 0; j < actions.length; j++) {
          var action = actions[j];
      %>
        <div class="select-action row-fluid">
          <div class="span1"></div>
          <div class="span10">
            <div class="row-fluid">
              <img src="/assets/img/carrot.png" />
              <h3 span12><%= action.action %></h3>
            </div>
            <div class="row-fluid">
              <div class="span10">
                <div class="progress progress-striped">
                  <div class="bar" style="width: 0%;"></div>
                </div>
              </div>
              <a class="btn btn-primary span2" data-type="<%= task.type %>" data-action="<%= action.action %>"><i class="icon-tint icon-white"></i></a>
            </div>
            <div class="row-fluid who">
              <% if (action.last_activity) { %>
                <em><%= action.last_activity.username %> tended it last</em>
              <% } %>
            </div>
          </div> <!-- /.select-action -->
        </div>
      <% } %>  
    </div>
<% } %>
</div>

<div class="page-2 row-fluid" style="display:none">
  <h2>What was your name again? <a class="reset btn btn-warning">Cancel</a></h2>
  <div class="select-user row-fluid">
<% 
  for (i = 0; i < users.length; i++) {
    var user = users[i].attributes;
%>
      <a class="btn btn-primary btn-large span2" data-username="<%= user.username %>"><%= user.username %></a>
<% } %>
  </div>
</div>

<ul id="pager">
  <li class="active"></li>
  <li></li>
</ul>