
/* @override http://localhost:3000/stylesheets/style.css */

.hero-unit h1 {
  margin-top: 60px;
  margin-bottom: 18px;
}

.hero-unit small {
  font-size: 14px;
}

.hero-unit #hero-login {
  text-align: center;
  margin-top: -5px;
}


#login {
  font-weight:  bold;
  min-width: 100px;
}

#login img.user-avatar {
  vertical-align:text-top;
  margin-right: 6px;
  background: #fff;
  border-radius: 2px;
}

#login a.btn {
  display: inline-block !important;
}

div.plant {
	text-align:center;
}

.plant-list div.plant:nth-child(4n+1) {
  margin-left: 0;
}

#plant-info {
  text-align: center;
}

#plant-info form {
  margin-top: 10px;
}

#planting-form {
  text-align: left;
}

div.plant img.avatar {
  vertical-align:text-bottom;
  width: 20px;
  margin-right: 6px;
  background: #fff;
  border-radius: 2px;
}

@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }
}

#about {
  margin-top: 18px;
}

/* Right aligned menus need alt position
 * https://groups.google.com/group/twitter-bootstrap/browse_thread/thread/231afe7853d43d8e */
/*.navbar .nav.pull-right .dropdown-menu { 
  left: auto; 
  right: 0; 
  &:before { 
    left: auto; 
    right: 12px; 
  } 
  &:after { 
    left: auto; 
    right: 13px; 
  } 
} */