div.row-fluid
  - each plant in plants
    div.span3.well.plant
      a(href="/users/" + plant.owner.username)
        img(src="/images/bamboo-#{plant.status}.png")
        h3
          img.avatar(src=plant.owner.avatarUrl)
          = plant.owner.username
